@import "../../App.scss";

.login-page{
    background-color: $base-color;
}

.login-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.input-container{
    flex: 1 1 0;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px 0px;
    margin:auto;
}

.input-container:last-child{
    border-top: 2px solid white;
}

.input-label{
    color:#b7babe;
    font-size: 1.2rem;
}

/*logo */
.logo-name{
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}
.logo-text{
    display: inline-block;
    flex: 1 1 0;
    background-color: #fd7272;
    padding: 10px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: $base-color;
    border-radius: 10px;
    text-align: center;
}

.logo-text:first-child{
    margin-right: 20px;
}

.logo-text:last-child{
    flex: 1.3 1 0;
}